
<div class="main">

<kendo-grid [data]="gridData"
            [pageSize]="1000"
            [pageable]="true"
            [skip]="skip"
            [skip]="skip"
            [scrollable]="'virtual'"
            [sortable]="true"
            [resizable]="true"
            (pageChange)="pageChange($event)"
            >

  <ng-container *ngFor="let column of columns">
    <kendo-grid-column [field]="column.field" [title]="column.title" [style]="{ 'background-color': 'rgb(211, 211, 211)' } "></kendo-grid-column>
  </ng-container>
</kendo-grid>
</div>








